/* global variables */
:root {
	--strong-cyan: hsl(172, 67%, 45%);
	--very-dark-cyan: hsl(183, 100%, 15%);
	--dark-grayish-cyan-1: hsl(186, 14%, 43%);
	--dark-grayish-cyan-2: hsl(184, 14%, 56%);
	--light-grayish-cyan-1: hsl(185, 41%, 84%);
	--light-grayish-cyan-2: hsl(189, 41%, 97%);
	--white: hsl(0, 0%, 100%);
}

/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-size: 16px;
	color: var(--very-dark-cyan);
	background-color: var(--light-grayish-cyan-1);
}

body,
input,
button,
label {
	font-family: "Space Mono", monospace;
}

/* container styles */
.container {
	/* height: 90%; */
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin: 0 auto;
}

/* general component styles */
label {
	display: block;
	margin: 1.5rem 0 1rem 0;
	font-size: 0.8rem;
	font-weight: 700;
	position: relative;
	color: var(--dark-grayish-cyan-1);
}

button {
	border-radius: 5px;
	padding: 0.3rem;
	font-size: 1.1rem;
	border: none;
	font-weight: 700;
	cursor: pointer;
}

.input-field {
	position: relative;
}

input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: var(--light-grayish-cyan-2);
	font-size: 1.05rem;
	font-weight: 700;
	text-align: right;
	color: var(--very-dark-cyan);
	outline: none;
	cursor: pointer;
	border: 2px solid transparent;
}

input:focus {
	border: var(--strong-cyan) 2px solid;
}

/* header area styles */

header {
	text-align: center;
	background-color: var(--light-grayish-cyan-1);
	padding-top: 2rem;
}

header img {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

/* left side styles */
.input-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem;
}

.bill label {
	margin-top: 0;
}

.red-outline {
	border: 2px solid red;
	border-radius: 5px;
}

.error-message {
	display: none;
	position: absolute;
	right: 0;
	color: red;
}

.show {
	display: block;
}

::placeholder {
	text-align: right;
	color: var(--dark-grayish-cyan-2);
}

.input-field.bill::after,
.input-field.people::after {
	content: url(./images/icon-dollar.svg);
	position: absolute;
	bottom: 1.2rem;
	left: 0.75rem;
	height: auto;
}

.input-field.people::after {
	content: url(./images/icon-person.svg);
}

/* tip-area */
.tip-choices {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.7rem;
}

button.tip {
	background-color: var(--very-dark-cyan);
	color: white;
}

button.tip:hover {
	background-color: var(--strong-cyan);
	color: var(--very-dark-cyan);
}

input#custom {
	background-color: var(--light-grayish-cyan-2);
	padding: 0;
}

input#custom::placeholder {
	text-align: center;
	font-size: 1.1rem;
	color: var(--very-dark-cyan);
}

/* right side styles */
.results-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	margin: 0 0.8rem;
	padding: 2rem 1rem 1rem 1rem;
	background-color: var(--very-dark-cyan);
	color: white;
	border-radius: 15px;
}

p.amount {
	font-size: 0.8rem;
}
span.amount {
	color: var(--strong-cyan);
	font-size: 1.6rem;
	font-weight: 700;
}

.results-box span.small {
	font-size: 0.7rem;
	display: block;
	color: var(--dark-grayish-cyan-2);
	margin-top: 0.2rem;
}

#tip-per-person,
#total-per-person {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

button.reset {
	background-color: var(--strong-cyan);
	color: var(--very-dark-cyan);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1025px) {
	body {
		justify-content: flex-start;
	}
	.container {
		flex-direction: row;
		max-width: 65%;
		max-height: 80%;
		border-radius: 25px;
	}
	header {
		padding-top: 9rem;
		padding-bottom: 2rem;
	}

	label {
		font-size: 0.9rem;
	}

	input {
		font-size: 1.3rem;
	}

	button {
		font-size: 1.2rem;
	}

	.input-box {
		padding: 2rem;
		max-width: 50%;
	}

	.tip-choices {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.show {
		display: inline;
	}

	.results-box {
		margin: 1.5rem;
		padding: 2.5rem 2.2rem 2.2rem 2.2rem;
	}
	.results-box input {
		font-size: 2.3rem;
	}

	span.amount {
		font-size: 2.1rem;
	}
}
