/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;

	font-size: 16px;

	color: hsl(183, 100%, 15%);
}

body,
input,
button,
label {
	font-family: "Space Mono", monospace;
}

header {
	text-align: center;
	padding: 1.5rem 0;
	background-color: hsl(185, 41%, 84%);
}

/* container styles */
.container {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: white;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

/* general component styles */
label {
	display: block;
	margin-bottom: 10px;
	font-size: 0.9rem;
	font-weight: 700;
}

button {
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 1.2rem;
	border: none;
}

/* input box styles */
.input-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 2rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

button:first-child {
	margin-right: 15px;
}

button.tip {
	width: 50%;
	margin-bottom: 10px;
	background-color: hsl(183, 100%, 15%);
	color: white;
}

/* results box styles */
.results-box {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid black;
	margin: 0 0.5rem;
	padding: 2rem;
	background-color: hsl(183, 100%, 15%);
	color: white;
	border-radius: 15px;
}

input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	border: none;
	background-color: hsl(185, 41%, 90%);
	font-size: 1.5rem;
	font-weight: 700;
}

::placeholder {
	text-align: right;
}

button.reset {
	background-color: hsl(172, 67%, 45%);
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* color for /person hsl(184, 14%, 56%); */
